@model VoylokTrade.Models.Good

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удалить</h2>

<h3>Уверены ,что хотите удалить данный товар?</h3>
<div>
    <h4>Товар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TareVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TareVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerGood)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerGood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeightType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeightType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceMarkupInPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceMarkupInPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">К списку</a>
    </form>
</div>

