@model IEnumerable<VoylokTrade.Models.Good>

@{
    ViewData["Title"] = "Товары";
}

<h2>Список товаров</h2>

<p>
    <a asp-action="Create">Добавить товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TareVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightInGramms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TareWeightInKg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerGoodWithMarkup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullTarePriceWithMarkup)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TareVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.WeightInGramms)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TareWeightInKg)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PricePerGoodWithMarkup)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.FullTarePriceWithMarkup)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
